body{
  margin: 0;
  margin-top: 50px;
}

.master{
  height: 1700px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.header{
  background-color: #1f2937;
  color: #F9FAF8;
  height: 50px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between ;
  align-items: center;

  /* sticky header */
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
}
.logo{
  font-size: 24px;
  font-weight: bold;
}
.header-links{
  margin:0;
  padding:0;
  font-size: 18px;  
  display: flex;
  gap: 15px;
}
li, a{
  list-style-type: none;
  text-decoration: none;
  color: #e5e7eb;
}

/* all cards */
.card{
  display: flex;
  background-color: aqua;
  flex: 1 1 0;
  flex-wrap: wrap;
}

/* card one */
.one{
  background-color: #1f2937;
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 0px;
  flex: 1;
}
.content-container-one{
  width: 450px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
}
.title-one{
  font-size: 48px;
  font-weight: bolder;
}
.desc-one{
  font-size: 18px;
  color: #e5e7eb;
}
.heart{
  width: 30px;
  height: 30px;
  padding-left: 10px;
}
.button-one{
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}
.img-one > img{
  width: 450px;
  height: auto;
  padding: 30px;
}

/* card two */
.two{
  background-color: #ffffff;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 50px;
  row-gap: 50px;
}
.title-two{
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}
.content-container-two{
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box{
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 4px #3882f6 solid;

  /* adding cropped images requires html alteration + these properties */
  background-size: cover;
  background-position: center;}
.desc-two{
  width: 150px;
  text-align: center;
}

.three{
  background-color: #e5e7eb;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.quote{
  width: 800px;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.name{
  width: 800px;
  text-align: right;
  font-weight: bold;
  font-size: 24px;
}

.four{
  background-color: #ffffff;
  flex: .7;
  justify-content: center;
  align-items: center;
}
.content-container-four{
  display: flex;
  background-color: #3882f6;
  width: 800px;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}
.action-text-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.action-text-container > .title-four{
  font-size: 24px;
  color: #e5e7eb;
  font-weight: bold;
}
.action-text-container > .desc-four{
  font-size: 18px;
  color: #e5e7eb;
}
.button-four{
  background-color: #3882f6;
  border: 2px white solid;
  color: white;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}







.footer{
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}