body{
  margin: 0;
  margin-top: 50px;
}

.master{
  height: 1400px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  background-color: #1f2937;
  color: #F9FAF8;
  height: 50px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* sticky header */
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
}
.logo{
  font-size: 24px;
  font-weight: bold;
}
.header-links{
  margin:0;
  padding:0;
  font-size: 18px;  
  display: flex;
  gap: 15px;
}
li, a{
  list-style-type: none;
  text-decoration: none;
  color: #e5e7eb;
}

.card{
  display: flex;
  background-color: aqua;
  flex: 1 1 0;
  flex-wrap: wrap;
}

.one{
  background-color: #1f2937;
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 0px;
  flex: 1;
}
.content-container{
  width: 450px;
  height: 200px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
}
.title-one{
  font-size: 48px;
  font-weight: bolder;
}
.desc-one{
  font-size: 18px;
  color: #e5e7eb;
}
.heart{
  width: 30px;
  height: 30px;
  padding-left: 10px;
}
.button-one{
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 5px 15px 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}
.img-one > img{
  width: 450px;
  height: auto;
  padding: 30px;
}


.two{
  background-color: #ffffff;
  flex: 1;
}

.three{
  background-color: #e5e7eb;
  flex: 1;
}

.four{
  background-color: #ffffff;
  flex: .5;
}







.footer{
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}