body{
  margin:0;
}

.master{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.card{
  display: flex;
  justify-content: space-between;
}
.header{
  background-color: #1f2937;
  color: #F9FAF8;
  height: 50px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 24px;
  font-weight: bold;
}
.header-links{
  margin:0;
  padding:0;
  font-size: 18px;  
  display: flex;
  gap: 15px;
}
li, a{
  list-style-type: none;
  text-decoration: none;
  color: #e5e7eb;
}









.footer{
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}